* { box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 20px;
    color: #FFFFFF;
}
.intro-2 {
    background: url(/assets/img/Rectangle.jpg)no-repeat center center;
    background-size: cover;
    margin-top: 300px;
    color: rgb(255, 255, 255); 
    margin-top: -56px;
    top: 50%;
}
.view {
    margin-top: -100px;
    top: 50%;
}

.navbar {
    z-index: 1;
    background-color: transparent;
    border-bottom:  1px solid #A1A1A1;
    height: 100px;
}
a:hover {

    border-bottom: 2px  solid #FFFFFF;
    text-decoration: none
    

}
li {
    height: 2rem;
}
@media only screen and (min-width: 990px) {
    a:hover {
        height: 4rem;
    
    }
}
@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #4285F4;
        height: auto;
    }
    .q {
        margin-top: 50px;
    }
}
html,
body,
header,
.view, .services {
    height:100vh;
}
/* .collapse {
   
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
} */
.btn {
    width: 200px;
    height: 45px;
    left: 860px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 65px;
}
.collapse .nav-item {
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;

     color: #FFFFFF;
}
    /* width: 829px; */
    /* font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 0 auto; */

h3 {
    color: black;
}
h4 {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 53px;

color: #000000;
}
h5 {
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #000000;

}


.l {

    width: 40px;
    height: 40px;
}
.i {
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    border-radius: 50%;
}
.w {
    width: 500px;
}

.card.hoverable {
    border: none;
}
.card.hoverable:hover {
    
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    text-decoration: none
}
.sec-bpadding-2 {
    margin-top: 44px;
    
}
 .bb { 
      background: linear-gradient(180deg, #504DC2 20.44%, #5F12D0 30.91%, #ffffff 59%), #C4C4C4;
      position: relative;
      
      background-size: cover !important;
     
       
}
 .sec-padding {
    
    background: url(/assets/img/Rectangle1.png)no-repeat center center;
    background-position: 50% 0% !important;


}
.video {
    background: url(/assets/img/Rectangle\ 2\ \(1\).jpg);
    position: relative;
    background-size: cover !important;
    background-position: 50% 50% !important;
    width: 970px;
    height: 430px;
}
.btn-pl {
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    width: 300px;
    height: 100px;
    margin-top: 10rem;
}

.glyphicon {
    background: url(/assets/img/Group\ 503.png);
    position: relative;
    background-size: cover !important;
    background-position: 50% 50% !important;
    width: 60px;
    height: 60px;
    
}
.feature-tag {
    margin-top: 35px;
}
.sec-bpadding-2 img {
    width: 14em;
    display: flex;
    margin: 0 auto;

}
.podpis {
    background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 0px 30px 30px 0px;
height: 35px;
}
.form-control {
    background: #FFFFFF;
/* #F2F2F2 */

border: 1px solid #F2F2F2;
box-sizing: border-box;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px 0px 0px 30px;
}
.ld {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
text-align: center;

/* grey */

color: #999999;
}